{{#each this}}
<li class="film-card">
	<div class="img-wrapper">
		<img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" data-id={{id}} class="film-img">
	</div>
	<div class="film-box">
		<h3 class="film-title">{{original_title}}</h3>
		<ul class="genres__list">
			{{#each genre_ids}}
			<li><span class="film-text genre">{{this}},&ensp;</span></li>
			{{/each}}
		</ul>
		<span class="film-text">| {{release_date}}</span>
		<span class="film-rate">{{vote_average}}</span>
	</div>
</li>
{{/each}}